.home-bgi-container {
  width: 100%;
  height: 700px;
  display: flex;
  z-index: -1;
  position: relative;
}

.home-bgi-container img {
  width: 50%;
  height: 100%;
}

@keyframes moveLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

@keyframes moveRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}

@keyframes moveInLeft {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

@keyframes moveInRight {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}

.home-bgi-container.animate .im1.out {
  animation: moveLeft 3s ease-in-out forwards;
}

.home-bgi-container.animate .im2.out {
  animation: moveRight 3s ease-in-out forwards;
}

.home-bgi-container.animate .im3.in {
  animation: moveInRight 3s ease-in forwards;
}

.home-bgi-container.animate .im4.in {
  animation: moveInLeft 3s ease-in forwards;
}
