.home-bgi-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 700px; /* Adjust height as needed */
    position: relative;
    overflow: hidden;
  }
  
  .home-bgi-content {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .home-bgi-content img {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    transition: left 2s ease-in-out; /* Match this duration with the duration in React */
  }
  
  .bgi-img1 {
    left: 0;
  }
  
  .bgi-img1-move {
    left: -50%;
  }
  
  .bgi-img2 {
    left: 50%;
  }
  
  .bgi-img2-move {
    left: 100%;
  }
  
  .bgi-img5 {
    left: 150%;
  }
  
  .bgi-img5-move {
    left: 50%;
  }
  
  .bgi-img6 {
    left: -50%;
  }
  
  .bgi-img6-move {
    left: 0;
  }
  